<div ng-include="'components/header/header.html'"></div>

<div love-list class="container main" id="start">

<div class="intro text-center">

  <h1>DO WHAT YOU LOVE</h1>
  <p>Select three things you love and we'll show you exciting opportunities available in the Navy, Army and Air Force.</p>  

</div>



  <div class="row">
  <div class="triangle"></div>
    <div class="col-sm-6 col-md-3 loves" ng-repeat="love in loves" data-key="{{love.key}}" ng-click="saveLove(love.key, $event)">
      <div class="thumbnail {{love.class}}">
        
        <div class="caption text-center">
          <h3>{{love.title}}</h3>
        </div>

        <img ng-src="assets/images/{{love.img}}" alt="{{love.title}}">
         <div class="tick"></div>
      </div>

    </div>
  </div>
  
  <div class="button-container">
    <p class="text-center moveforward">
    <a ng-show="!countbtn" class="btn btn-lg" ng-click="pushAnswers()">Get Started <span class="arrow-right"></span></a>    
    <a ng-show="countbtn" class="btn btn-lg" ui-sref="results" disabled="disabled">Choose {{countdown}} more love <span class="arrow-right"></span></a>
    </p>      
  </div>

</div>
