
$font-url: "../assets/fonts/";
$image-url: "../assets/images/";

$grey: #4d4d5a;
$offwhite: #fdfdfd;
$facebookblue: #3b5998;
$twitterblue: #00aced;
$googlered: #dd4b39;
$linkedinblue: #007bb6;
$youtubered: #bb0000;
$orange: #f2912d;
$light-orange: #ffe5c9;

// job card colors
$armyColor: #f1b701;
$navyColor: #9b9fac;
$airColor: #6894bf;

.woomba {
	width: 10px;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin vendor($name, $argument) {
   -webkit-#{$name}: #{$argument};
   -ms-#{$name}: #{$argument};
   -moz-#{$name}: #{$argument};
   -o-#{$name}: #{$argument};
    #{$name}: #{$argument};
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin vendor($name, $argument) {
   -webkit-#{$name}: #{$argument};
   -ms-#{$name}: #{$argument};
   -moz-#{$name}: #{$argument};.
   -o-#{$name}: #{$argument};
    #{$name}: #{$argument};
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin webkit-fix {
    -webkit-transform: scale3d(1,1,1);
}



@mixin transform-scale($x:1, $y:1){
    -webkit-transform: scale($x, $y);
    -moz-transform   : scale($x, $y);
    -o-transform     : scale($x, $y);
    -ms-transform    : scale($x, $y);
    transform        : scale($x, $y);
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}
// @include keyframes(spin) {
//   0% {
// 	@include vendor(transform, rotate(0deg));	
//   }
//   100% {
// 	@include vendor(transform, rotate(360deg));	  
//   } 
// }

@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes spin {
    to { -o-transform: rotate(360deg); }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
.ie8 {
	.loader {
		display: none;
	}
}

p.sub {
  text-align: center;
  font-style: italic;
  max-width: 610px;
  width: 90%;
  margin: 0 auto 50px auto;
}

.youtube-iphone-tester {
	border: 1px solid red;
	height: 200px;
	width: 100%;
	display: block;
}

.loader-container {
	width: 400px;
	margin: 200px auto 240px auto;
	position: relative;
	height: 50px;
}
.loader {
  margin: 0 0 2em;
  height: 0;
  width: 0;
  top: -3px;
  margin-left: -22px;
  position: absolute;
  text-align: center;
  display: inline;
  vertical-align: top;	
  
  svg {
  	@include animation('spin 0.6s linear infinite');

    // -webkit-animation: spin 1s infinite linear;
    // -moz-animation: spin 1s infinite linear;
    // -ms-animation: spin 1s infinite linear;
    // -o-animation: spin 1s infinite linear;
    // animation: spin 1s infinite linear;

  }	
	/*
	  Set the color of the icon
	*/
	svg path,
	svg rect{
	  fill: #000;
	}
}	

// preloader
.flyover .alert {
    left: 50%;
    top: 50%;
    position: fixed;
    z-index: 1050;
}

.flyover .mask {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: black;
    z-index: 1049;
}


// ng enter and leave
.view.ng-animate {/*
  -webkit-transition: color 0.6s, background-color 0.3s;
  -moz-transition: color 0.6s, background-color 0.3s;
  -ms-transition: color 0.6s, background-color 0.3s;
  transition: color 0.6s, background-color 0.3s;*/
}
.ng-enter .main-page {/*
  -webkit-animation: fadeInLeft 1s;
  -moz-animation: fadeInLeft 1s;
  -ms-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;*/
}
.ng-leave .main-page {/*
  -webkit-animation: fadeOutLeft 1s;
  -moz-animation: fadeOutLeft 1s;
  -ms-animation: fadeOutLeft 1s;
  animation: fadeOutLeft 1s;*/
}
.ng-enter .results-page {/*
  -webkit-animation: fadeInRight 1s;
  -moz-animation: fadeInRight 1s;
  -ms-animation: fadeInRight 1s;
  animation: fadeInRight 1s;*/

}
.ng-leave .results-page {/*
  -webkit-animation: fadeOutRight 1s;
  -moz-animation: fadeOutRight 1s;
  -ms-animation: fadeOutRight 1s;
  animation: fadeOutRight 1s;*/
}

.ng-enter {
	transition: 0.5s;
	opacity:0;
}
.ng-enter-active {
	opacity:1;
}
.ng-leave {
	transition: 0.5s;
	opacity:0;
}
.ng-leave-active {
	opacity:0;
}


// fonts
@font-face {
  font-family: 'ZurichBT-BoldCondensed';
  src: url('#{$font-url}ZurichBT-BoldCondensed.eot'); /* IE9 Compat Modes */
  src: url('#{$font-url}ZurichBT-BoldCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$font-url}ZurichBT-BoldCondensed.woff') format('woff'), /* Pretty Modern Browsers */
       url('#{$font-url}ZurichBT-BoldCondensed.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('#{$font-url}ZurichBT-BoldCondensed.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'zurich_xcn_bt-webfont';
  src: url('#{$font-url}zurich_xcn_bt-webfont.eot'); /* IE9 Compat Modes */
  src: url('#{$font-url}zurich_xcn_bt-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$font-url}zurich_xcn_bt-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('#{$font-url}zurich_xcn_bt-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('#{$font-url}zurich_xcn_bt-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'zurich_cn_bt-webfont';
  src: url('#{$font-url}zurich_cn_bt-webfont.eot'); /* IE9 Compat Modes */
  src: url('#{$font-url}zurich_cn_bt-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$font-url}zurich_cn_bt-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('#{$font-url}zurich_cn_bt-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('#{$font-url}zurich_cn_bt-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'DefenceJobsIcons';
    src: url("/global/webfonts/icons/DefenceJobsIcons.eot");
    src: url("/global/webfonts/icons/DefenceJobsIcons.eot?#iefix") format("embedded-opentype"), url("/global/webfonts/icons/DefenceJobsIcons.woff") format("woff"), url("/global/webfonts/icons/DefenceJobsIcons.ttf") format("truetype"), url("/global/webfonts/icons/DefenceJobsIcons.svg#DefenceJobsIcons") format("svg");
    font-weight: normal;
    font-style: normal;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {

}

// hide class
.hide {
	opacity: 0;
}

// youtube overrides
.ytp-large-play-button {
	display: none!important;
}



.social {
	font-family: 'DefenceJobsIcons';
	//display: none;
	float: right;
	top: 0px;
	right: 0;
	position: absolute;

	li {
		padding: 0;
		&.mobile-share {
			display: none;
		}
		float: left;
		margin: 0;
		background: #000;
		background: rgba(0,0,0,0.8);
		margin-right: 2px;		
		transition: all 0.2s ease;	
		&.fb {
			&:hover {
				background: $facebookblue;
			}
		}
		&.tw {
			&:hover {
				background: $twitterblue;
			}
		}
		&.in {
			&:hover {
				background: $linkedinblue;
			}
		}
		&.gp {
			&:hover {
				background: $googlered;
			}
		}
		a {
			text-align: center;
			margin: 0;
			color: white;
			display: inline;
			font-size: 25px;
			&:hover {
				text-decoration: none;
			}
			span {
				display: block;
				padding: 10px;
			}
		}
	}
}

body {
	background: url(#{$image-url}repeatbg.jpg);
	overflow-x: hidden;
	//background-attachment: fixed;
	//overflow: hidden;
	min-height: 100vh;

}

.women {
	min-height: 100vh;
	//border: 10px solid green;
}

.main-page {
	//min-height: 6666px;
}

// .main-page {
// 	overflow-x: hidden;
// 	overflow-y: scroll;
// 	height: 100%;
// }

// .results-page {
// 	overflow-x: hidden;
// 	overflow-y: scroll;
// 	height: 100%;
// }

body#PageBody {
	//height: auto!important;
}

h1 {
	font-family: zurich_xcn_bt-webfont;
}

h2 {
	font-family: ZurichBT-BoldCondensed;
}

h3 {
	font-family: zurich_xcn_bt-webfont;
}
ul {
	margin: 0;
	padding: 0;
}

ul li {
	background-image: none!important;
	background-repeat: no-repeat!important;
	background-position: left 5px!important;
	list-style-type: none!important;
	//padding: 0!important;
}

.flexslider .slides>li {
	padding: 0!important;
}

.flexslider {
	margin: 0;
}

ul li.job-container {
	list-style: none;
	padding: 0 15px;
	margin-bottom: 20px;
	height: 480px;
}
a.save-job {
	color: white!important;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		.icon-star {
			color: #f1b701;
		}
	}
	&.active {
		.icon-star {
			color: #f1b701;
		}
	}
	&:link {
		color: white;
	}
	a {
		color: white!important;
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}

// button styles
.results-page {
	a.btn {
		transition: all 0.5s ease;	
	}
}

a.btn {
	border: 1px solid white;
	border-radius: 0px;
	background: #333;
	background: rgba(0,0,0,0.4);
	text-transform: uppercase;
	font-family: ZurichBT-BoldCondensed;
	color: white;
	font-size: 20px;
	width: 300px;
	position: relative;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.4);

	//transition: all 0.5s ease;	
	&.count {
	
	}
	* {
		//transition: all 0.5s ease;
	}
	&.herobtn {
		transition: background 0.5s ease;
	}
	&:hover, &.active {
		color: white;
		background: rgba(0,0,0,0.6);
		-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);		
		
	}
	span.arrow-right {
		display: inline-block;
		width: 20px;
		height: 30px;
		position: absolute;
		top: 15px;
		right: 20px;
		background: url(#{$image-url}arrow-right.png) no-repeat;
		background-size: 100% auto;
	}	
}

// header styles
.herobg {
	position: relative;
	background: url(#{$image-url}header-hero.jpg) no-repeat center center;
	background-attachment: fixed;
	overflow: hidden;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;

	.video-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 0;
		
		.hero_video {
			position: absolute;
			bottom: 50%;
			right: 50%;
			-webkit-transform: translateX(50%)translateY(50%);
			-ms-transform: translateX(50%)translateY(50%);
			transform: translateX(50%)translateY(50%);
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: 1000;
			overflow: hidden;
		}
	}
}

.ie9 {
	.video-container {
		.hero_video {
			top: 0 !important;
			left: 0 !important;
			transform: translateX(0%) translateY(0%);			
			//height:100% !important;
  			//width:100% !important;
  			source {
  			}
		}
	}
}


.jumbotron {
	margin-bottom: 0;
	background: url(#{$image-url}line-bg.png) repeat;
	height: 100vh;
	width: 100%;
	position: relative;
	vertical-align: middle;

	.center-content {
		position: absolute;
		top: 0;
		left: 0;
		display: table;
		height: 100%;
		width: 100%;
		padding: 10px;
		vertical-align: middle;

		.inner {
			display: table-cell;
			width: 100%;
			vertical-align: middle;
			text-align: center;
		}
	}

	.container {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		z-index: 10;
	}

	h1 {
		color: $offwhite;
		font-size: 120px;
		font-family: ZurichBT-BoldCondensed;
		//margin-top: 160px;
		text-shadow: 0 0 10px rgba(0,0,0,0.1);
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;

		.dwyl-logo {
			width: 100%;

			&.mobile {
				display: none;
			}
		}

		.you {
			display: inline-block;
			background: url(#{$image-url}you.png) no-repeat;
			background-size: 100% auto;
			text-indent: -9999px;
			width: 440px;
			height: 240px;
			margin-left: -90px;
			margin-right: -100px;

		}
	}

	p.lead {
		color: $offwhite;
		max-width: 580px;
		width: 90%;
		margin: 10px auto 50px auto;
		font-weight: bold;
		text-shadow: 0 0 10px rgba(0,0,0,0.6);
	}

	a.btn {
		&:hover {
			span.arrow-down {
				//top: 14px;
			}
		}
		span.arrow-down {
			display: inline-block;
			width: 20px;
			height: 30px;
			position: absolute;

			right: 20px;
			background: url(#{$image-url}arrow-down.png) no-repeat;
			background-size: 100% auto;

		}
	}

}
	a.btn {
		&:hover {
			span.arrow-down {
				//top: 14px;
			}
		}
		span.arrow-down {
			display: inline-block;
			width: 20px;
			height: 30px;
			position: absolute;

			right: 20px;
			background: url(#{$image-url}arrow-down.png) no-repeat;
			background-size: 100% auto;
			
		}
	}
// intro

.intro {
	h1 {
		font-size: 120px;
		color: $grey;
		margin-bottom: 0;
	}
	p {
		font-size: 26px;
		font-family: ZurichBT-BoldCondensed;
		color: $grey;
		max-width: 600px;
		width: 90%;
		margin: 20px auto 0px auto;
	}
	padding: 100px 0 30px 0;

}

.triangle {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	background: url(#{$image-url}triangle.png) no-repeat;
	background-size: 100% auto;
	margin-bottom: -80px;
	z-index: 999;
	position: relative;		
}

.moveforward {
	margin: 30px auto;
}

// love list styles
.loves {
	padding: 0;
	overflow: hidden;
	&[disabled="disabled"] {

	}
	&.active {
		.thumbnail {
			.tick {
				background-position: 0 0;
			}			
		}
	}
	&[hover="hover"] {

		&:hover {
			cursor: pointer;
			.thumbnail {
				.tick {
					transition: all 0.5s ease;
					margin-top: -80px;
					opacity: 1;
					filter: alpha(opacity=100);
				}
				img {
					transition: all 0.5s ease;
					opacity: 0.3;
					filter: alpha(opacity=100);
				}
				.caption {
					transform: scale(1.5,1.5);
					transition: all 0.5s ease;
					border: none;
					border: 1px solid rgba(255,255,255,0);
					background: rgba(0,0,0,0);
					h3 {
						transition: all 0.5s ease;
						transform: scale(0.7,0.7);
					}
				}

				&.oneline {
					h3 {
						top: 10px;	
					}
				}
				&.twoline {
					h3 {
						top: -10px;	
					}
				}
				&.threeline {
					h3 {
						
					}
				}
			}
		}
	}
	&.active {
		.thumbnail {
			cursor: pointer;
			background: #b16e11;
			.tick {
				transition: all 0.5s ease;
				margin-top: -80px;
				opacity: 1;
				filter: alpha(opacity=100);
			}
			img {
				transition: all 0.5s ease;
				opacity: 0.3;
				filter: alpha(opacity=100);
			}
			.caption {
				transform: scale(1.5,1.5);
				transition: all 0.5s ease;
				border: none;
				border: 1px solid rgba(255,255,255,0);
				background: rgba(0,0,0,0);
				h3 {
					transition: all 0.5s ease;
					transform: scale(0.7,0.7);
				}
			}

			&.oneline {
				h3 {
					top: 10px;	
				}
			}
			&.twoline {
				h3 {
					top: -10px;	
				}
			}
			&.threeline {
				h3 {
					
				}
			}
		}
	} 
	.thumbnail {
		height: 190px;
		margin-bottom: 0;
		border: 1px solid white;
		background: #333;
		border-radius: 0px;
		padding: 0;
		overflow: hidden;
		width: 100%;
		position: relative;

		&.oneline {
			.caption {

			}
			h3 {
				font-size: 40px;
				top: 25px;				
			}
		}
		&.twoline {
			.caption {

			}
			h3 {
				font-size: 35px;
				top: 12px;
				padding: 0 15px;
			}

		}
		&.threeline {
			h3 {
				font-size: 30px;
			}
		}
		.caption {
			z-index: 99;
			position: relative;
			color: white;
			text-transform: uppercase;
			height: 100px;
			width: 80%;
			margin: 45px auto;
			line-height: normal;
			border: 1px solid white;
			border: 1px solid rgba(255,255,255,1);
			background: rgba(0,0,0,0.4);
			padding: 0px 0px;
			transition: all 0.5s ease;
			overflow: hidden;
			h3 {
				transition: all 0.5s ease;
				margin-top: 0px;
				margin-bottom: 0px;
				position: absolute;
				width: 100%;
				margin: 0 auto;
				line-height: 1em;
				padding: 0;
			}
		}
		.tick {
			background: url(#{$image-url}tick.png);
			background-position: 0 42px;
			background-size: 100% auto;
			width: 42px;
			height: 42px;
			display: block;
			margin: 0 auto;
			margin-top: 0px;
			opacity: 1;
			filter: alpha(opacity=100);
			position: absolute;
			left: 42%;
			transition: all 0.5s ease;
		}
		img {
			transition: all 0.5s ease;
			position: absolute;
			top: 0;
			opacity: 0.8;
			filter: alpha(opacity=60);
		}
	}
}
.results-page {
	
	.subnav {
		background: white;
		padding: 10px;
		position: relative;
		.container {
			position: relative;
		}
		a.home {
			font-family: ZurichBT-BoldCondensed;
			color: $grey;
			font-size: 20px;
			vertical-align: middle;
			margin-top: 0;
			font-weight: 300;
			cursor: pointer;
		}
		span.arrow-left {
			width: 30px;
			height: 30px;
			display: inline-block;
			background: black;
			float: left;
			margin-right: 15px;
			background: url(#{$image-url}arrow-left-white.png) no-repeat $grey center center;
		}
		ul.social {
			float: right;
			margin-top: 6px;
			font-family: 'DefenceJobsIcons';
			li {
				padding: 0;
				border-right: 1px solid $grey;
				&.mobile-share {
					display: none;
				}
				&.last {
					border-right: none;
				}
				background: none;
				display: inline;
				list-style: none;
				a {
					color: $grey;
					span {
						padding: 5px 10px;
					}
				}
			}
		}
	}

}



.results {

	// TEMPLATE STUFF
	.videosection {
		display: none;
	}
	.gallerysection {
		display: none;
	}
	.postcardsection {
		display: none;
	}

	// postcard sections
	&[data-template-one='1'] {
		.postcardsection {
			&.one {
				display: block;
			}
		}
	}

	&[data-template-two='1'] {
		.postcardsection {
			&.two {
				display: block;
			}
		}
	}

	&[data-template-three='1'] {
		.postcardsection {
			&.three {
				display: block;
			}
		}
	}

	// video sections
	&[data-template-one='2'] {
		.videosection {
			&.one {
				display: block;
			}
		}
	}

	&[data-template-two='2'] {
		.videosection {
			&.two {
				display: block;
			}
		}
	}

	&[data-template-three='2'] {
		.videosection {
			&.three {
				display: block;
			}
		}
	}

	// gallery sections
	&[data-template-one='3'] {
		.gallerysection {
			&.one {
				display: block;
			}
		}
	}

	&[data-template-two='3'] {
		.gallerysection {
			&.two {
				display: block;
			}
		}
	}

	&[data-template-three='3'] {
		.gallerysection {
			&.three {
				display: block;
			}
		}
	}

	padding-top: 30px;

	h1 {
		color: $grey;
		font-size: 100px;
		.you {
			display: inline-block;
			background: url(#{$image-url}you-dark.png) no-repeat;
			background-size: 100% auto;
			text-indent: -9999px;
			width: 240px;
			height: 170px;
			margin-left: -48px;
			margin-right: 0px;
		}
	}
	h2 {
		color: $grey;
		font-family: zurich_xcn_bt-webfont;
		font-size: 90px;
		text-transform: uppercase;
		&.title-three {
			//font-size: 72px;
		}		
	}
	h3 {
		color: $grey;
		font-size: 40px;
		margin-top: -77px;
		&.titles {
			text-transform: uppercase;
			max-width: 660px;
			width: 100%;
			margin: -77px auto 0 auto;
		}

	}
	h3.roles-header {
		margin-top: 50px;
	}
	hr {
		border-color: $grey;
	}
	a.next-arrow {
		position: relative;
		z-index:5;
		background: url(#{$image-url}hr-arrow.jpg) no-repeat;
		width: 122px;
		height: 39px;
		display: inline-block;
		margin: 0 auto -42px auto;
		background-size: 100% auto;
		&.second {
			display: block;
			margin: 50px auto;
			//border-top: 1px solid $grey;
		}
	}

	.negative-next {
		position: relative;
		top: -90px;
	}

	p.summary {
		max-width: 700px;
		margin: 40px auto 20px auto;
	}

	.videotext {
		max-width: 550px;
		width: 90%;
		margin: 0 auto;
	}

	.vidcontainer {
		max-width: 890px;
		width: 100%;
		padding: 20px;
		background: white;
		display: block;
		margin: 0 auto;
		margin-bottom: 23px;
		position: relative;

		.content-container {
			position: relative;
			height: 394px;
			width: 100%;
			overflow: hidden;
		}
		iframe {
			width: 100%;
			//height: 394px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 50;
		}
		.playbtn {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 119px;
			height: 119px;
			margin: -60px 0 0 -60px;
			background: url(#{$image-url}playvid_black.png) no-repeat;
			background-size: 100%;
			display: block;
		}
		img {
			width: 768px;
			height: auto;
			z-index: 100;
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
		}
		.imgPlaceholder {
			cursor: pointer;
			//width: 100%;
			//height: 394px;
			display: block;
			//position: relative;
			z-index: 100;
			background-size: 100% auto;
			background-repeat: no-repeat;
			background-position: top;
			display: inline-block;
		}
	}
	p.text {
		max-width: 400px;
		width: 90%;
		margin: 0px auto 50px auto;
	}
	.postcard-gallery {
		max-width: 980px;
		width: 100%;
		margin: 20px auto;
		position: relative;

		.copy {
			margin: 0 auto;
			width: 90%;
			max-width: 440px;
			display: block;
			float: none;
			margin-bottom: 20px;			
		}
		.main {
			overflow: hidden;
			height: 500px;
			border: 20px solid white;
			img {
				width: 100%;
			}
		}
		.subone {
			left: -30%;
			max-width: 350px; 
		}
		.subtwo {
			right: -26%;
			max-width: 500px;
			height: 300px;
			overflow: hidden;
		}
		.subone, .subtwo {
			position: absolute;
			border: 10px solid white;
			z-index: 500;
			top: 330px;
			border: 10px solid white;
			img {
				width: 100%;
			}
		}
	}
}

a.btn.see-all {
	margin-top: 0px;
}

.rolescontainer {
	padding-top: 20px;
	padding-bottom: 10px;
	display: block;
	height: auto;
	min-height: 300px;
	ul {
		height: auto;
		li {
			height: auto;
		}
	}
	.title{
		padding-left: 0;
		h3 {
			margin-top: 0;
			text-align: left;
		}
	}
	.filter {
		text-align: right;
		padding: 0;
		p {
			font-size: 15px;
			font-weight: normal;
			float: right;
			vertical-align: middle;
			margin-top: 10px;
			margin-left: 15px;
			margin-right: 15px;			
		}
	}
	select {
		border: 1px solid #8b8b8b;
		background: #dedede;
		padding: 10px 5px;
		min-width: 150px;
		color: black;
		font-size: 15px;
		float: right;		
	}
}

// image slider
.slider-container {
	position: relative;
	max-width: 890px;
	margin: 0 auto;
	overflow: hidden;

	.slider {
		.flex-viewport {
			border: 20px solid white;
		}		
	}

	.flex-direction-nav {
		a {
			margin: 0;
			opacity: 1;
			filter: alpha(opacity=100);	
			text-indent: -9999px;
			width: 20px;
			top: 3px;
			height: 46px;			
			&:before {
				content: '';
			}		
		}

		.flex-next {
			right: 2px;
			opacity: 1!important;
			filter: alpha(opacity=100);
			text-indent: -9999px;
			background: url(#{$image-url}slider-right.jpg) no-repeat;
			background-size: 100% auto;	
			cursor: pointer;		
			&:hover {
				right: 2px;
			}
		}
		.flex-prev {
			left: 2px;
			opacity: 1!important;
			filter: alpha(opacity=100);
			background: url(#{$image-url}slider-left.jpg) no-repeat;
			background-size: 100% auto;	
			cursor: pointer;		
			&:hover {
				left: 2px;
			}
		}
	}
	
}
.slider {
	border: none;
	box-shadow: none;
	border-radius: 0px;
	.flex-direction-nav {
		display: none;
	}
	ol.flex-control-nav {
		display: none;
	}
}
.carousel {
	position: absolute;
	bottom: 20px;
	right: 20px;
	//margin-top: -133px;
	//margin-right: 20px;
	margin: 0;
	width: 400px;
	//float: right;
	background: url(#{$image-url}dots.jpg) repeat;
	border: none;
	padding: 3px 24px;
	border-radius: 0px;
	//height: 53px;
	.flex-prev {

	}
}

// job card styles
.job {
	position: relative;
	min-height: 100%;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;

	.border {
		width: 100%;
		display: block;
		height: 10px;				
	}
	&.Navy {
		.border {
			background: #9b9fac;
		}
	}
	&.Army {
		.border {
			background: #f1b701;
		}
	}
	&.Air {
		.border {
			background: #6894bf;
		}
	}
	img {
		width: 100%;
		max-height: 217px;
		background: grey;
	}

	.desc {
		padding: 10px 20px;

		hr {
			border-color: #cfcece;
			opacity: 0.3;
		}
		.inner {
			  min-height: 170px;
			  max-height: 170px;
			//word-wrap: break-word;

			h3 {
				font-family: zurich_xcn_bt-webfont, sans-serif;
				text-transform: uppercase;
				margin-bottom: 0;
				font-size: 23px;
				text-align: left;
				margin-top: 20px;
				color: #454545;
			}
			h2 {
				margin-top: 0;
				font-family: ZurichBT-BoldCondensed, sans-serif;
				margin-bottom: 0;
				font-size: 28px;
				text-align: left;
				color: #454545;
				text-transform: capitalize;				
			}
		}
		p.rollover {
			img {
				width: 24px;
				height: auto;
			}
		}
	}

	.front {
		background: white;

		.arrow {
			display: none;
		}
	}

	.desc-indepth {
		@include transition(all .3s ease);
		opacity: 0;
		filter: alpha(opacity=0);
		background: #2e2e2e;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		text-align: left;
		.inner {
			h2 {
				font-family: ZurichBT-BoldCondensed;
			}
			p {
				font-family: ZurichBT-BoldCondensed;
			}
		}
		.top-container {
			height: 329px;
			overflow: hidden;
			h3 {
				margin-top: 7px;
				color: white;
			}
			h2 {
				margin-top: 7px;
			}
		}

		img.pin, img.close-card {
			position: absolute;
			top: 0;
			right: 0;
			width: 37px;
			height: 37px;
			z-index: 99;
			cursor: pointer;
		}

		img.close-card {
			display: none;
		}

		.job {
			background: #2e2e2e;
			border: none;
			overflow: hidden;
			height: 100%;
			position: relative;
			.bottom-container {
				position: absolute;
				bottom: 20px;
				width: 88%;
			}
			.border {
				width: 100%;
				display: block;
				height: 10px;				
			}
			&.Navy {
				.border {
					background: #9b9fac;
				}
			}
			&.Army {
				.border {
					background: #f1b701;
				}
			}
			&.Air {
				.border {
					background: #6894bf;
				}
			}
		}
		.archetype-sub {

			h4 {
				margin-top: 20px;
			}
			ul {

				margin: 0;
				li {
					position: relative;
					margin: 10px 0;
					padding: 0 10px 0 40px;
					height: 35px;
					p {
						font-size: 12px;
					}
				}
			}
			.icon-container {
				position: absolute;
				top: 50%;
				left: 0;
				padding: 0;
				margin: -16px 0 0 0;
			}
			.icon {
				padding: 5px;
				font-size: 22px;
				background: #fff;
				color: #999fad;
				border-radius: 100%;
				margin: 0;
			}
		}
		a.button {
			font-family: ZurichBT-BoldCondensed;
			display: inline-block;
			width: 50%;
			color: #2e2e2e;
			text-align: center;
			padding: 0;
			text-decoration: none;
			height: 30px;
			overflow: hidden;			
			&:hover {
				text-decoration: none;
			}
			span {
				display: block;
				height: 100%;
				width: 100%;
				padding-top: 2px;
				padding-bottom: 1px;
				font-size: 18px;
			}
			&.info {
				padding-right: 5px;
				span {
					background: #fff;
					font-weight: 300;
				}
			}
			&.apply {
				padding-left: 5px;

				span {
					background: $orange;
					padding-right: 10px;
					font-weight: 300;
				}

				.triangle {
					position: absolute;
					top: 0;
					right: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 15px 0 15px 15px;
					border-color: transparent transparent transparent $orange;
					background: #2E2E2E;
				}
			}
		}


		.inner {
			word-wrap: break-word;
			padding: 10px 20px;
			background-color: none!important;
			background: none;		
			color: white;
			hr {
				margin: 10px 0;
			}
			h4 {
				font-size: 13px;
			}
			h3 {
				font-size: 16px;
				font-family: zurich_xcn_bt-webfont, sans-serif;
				text-transform: uppercase;
				margin-bottom: 0;							
			}				
			h2 {
				font-size: 18px;
				text-transform: capitalize;
				&.Navy {
					color: #9b9fac;
				}
				&.Army {
					color: #f1b701;
				}
				&.Air {
					color: #6894bf;
				}														
			}
			p {
				font-family: Helvetica, Arial, "Lucida Grande", sans-serif; 
				font-weight: 300;
				font-size: 15px;
				line-height: 24px;
			}
		}
	}
}

.container.see-all {
	h3 {
		font-size: 40px;
	}
	margin-top: 0;
	padding-bottom: 40px;
	.button-container {
		a.btn {
			width: 100%;
			background: #333333;
			background: rgba(0,0,0,0.7);
			border: 1px solid black;
			box-shadow: none;
			padding-right: 50px;
			&:hover {
				background: rgba(0,0,0,1);
				background: #000000;
			}
			&.navy {
				span.arrow-right {
					background-color: #9b9fac;
				}
			}
			&.army {
				span.arrow-right {
					background-color: #f1b701;
				}
			}
			&.airforce {
				span.arrow-right {
					background-color: #6894bf;
				}
			}
			span.arrow-right {
				top: 0px;
				right: 0px;
				background: url(#{$image-url}arrow-right.png) no-repeat #eee;
				background-size: 50% auto;
				background-position: center center;
				width: 50px;
				height: 100%;
			}
		}
	}
}

a.back-top {
	cursor: pointer;
	text-align: center;
	display: block;
	margin: 0px auto 20px auto;
	text-decoration: none;
	.top-arrow {
		width: 94px;
		height: 42px;
		background: url(#{$image-url}back-top.png) no-repeat;
		background-size: 100% auto;
		margin: 0 auto 10px auto;
		display: block;
	}
	span {
		text-align: center;
		color: $grey;
		font-size: 26px;
		font-family: ZurichBT-BoldCondensed, sans-serif;
		text-transform: uppercase;		
	}
	&:hover {
		text-decoration: underline;
		color: #333;
		span {
			text-decoration: none;
			color: #333;
		}
	}
}

/*
* No touch hover states
*/
.no-touch {

	.job-container:hover {

		.job.card {
	  		
			.back {
				opacity: 1;
				filter: alpha(opacity=100);
			}

		}

	}

}


@media (max-width: 767px) {
.herobg {
	position: relative;
	z-index: 9999;
	background: url(#{$image-url}header-hero-mobile.jpg) no-repeat center center ;
	background-attachment: inherit;
	background-size: auto 100% !important;

	.jumbotron {
		padding: 10px;

		.center-content {
			display: block;

			.inner {
				display: block;
			}
		}

		p {
			font-size: 17px;
		}
		h1 {
			font-size: 50px;
			margin-top: 66px;
			//max-width: 300px;
			width: 100%;
			margin: 130px auto 0 auto;

			.dwyl-logo {
				width: 100%;

				&.mobile {
					display: block;
				}

				&.desktop {
					display: none;
				}
			}

			.you {
				width: 150px;
				height: 84px;
				margin-left: -29px;
				margin-right: -35px;				
			}
		}

		a.btn {
			width: 100%;
		}
	}
}

#start {
	padding-bottom: 60px;
}

	#secondaryroles {
		margin-top: -80px;
	}


}

// smaller screen
@media (max-width: 991px) {
	.results {
		h1 {
			font-size: 90px;
		}
	}
}
// tablet
@media (max-width: 1024px) {
	// header styles
	.herobg {
		//background: url(#{$image-url}header-hero.jpg) no-repeat center center;
		overflow: hidden;	
		position: relative;
		background-attachment: inherit;
		-webkit-background-size: 1800px auto;
		-moz-background-size: 1800px auto;
		-o-background-size: 1800px auto;
		background-size: 1800px auto;
		width: 100%;
	}	// header style
	.jumbotron {
		h1 {
			font-size: 70px;
			margin-top: 120px;
			.you {
				width: 280px;
				height: 140px;
				margin-left: -60px;
				margin-right: -70px;				
			}
		}
	}
	.intro {
		h1 {
			font-size: 60px;
		}

	}
	.loves {
		.thumbnail {
			height: 161px;
			.caption {
				margin: 33px auto;
				h3 {
					font-size: 27px;
				}
			}
		}
	}
	.moveforward {
		margin: 8px auto;
	}
};

// mobile
@media (max-width: 769px) {
body {

}

.loves .caption h3 {
	top: 10px !important;
}

.women {
	//height: 895px;
	//overflow-x: scroll;
	// &.scroll {
	// 	height: 895px;
	// 	overflow-x: scroll;
	// }
}

.mobile-hide {
	display: none;
}

.herobg {
	position: relative;
	z-index: 9999;
}

#start {
	padding-bottom: 60px;
}

a:link {
	text-decoration: none;
}
// mobile resets
.women {

a.btn {
text-indent: 0;
height: 50px;
font-weight: 300;	
}

}
#footer {
	height: 36px;
}

.results-page {
	.subnav {
		height: 48px;
		width: 100%;
		position: relative;
		overflow: hidden;
		a.home {
			line-height: 30px;
		}
	}
}
#content-body {
	padding: 0!important;
}
#header {
	#interact {
		.btn {
			border: none;
		}
	}
	.return-arrow {
		border: none;
	}	
}
#main-menu-nav {
	@include transition(all .3s ease);
	ul {
		li {
			a {
				width: 100%;
				border: none;
			}
		}
	}
	&.active {
		display: block;
		top: 35px;
	}
}

#search-box {
	@include transition(all .3s ease);
	&.active {
		box-shadow: none;
		display: block;
		top: 35px;
		border-bottom: 1px solid #666;
		.job-finder-box {
			border-top: 1px solid #666;
			a.job-finder-button {
				border: 1px solid #666;
			}
		}
	}
}
#header {
	#interact {
		//position: absolute;
		//right: 77px;
		//display: none;
		.search {
			//margin-left: 50px;
		}
	}
}

.results-page > .subnav > ul.social {
	right: -198px;
	&.open {
		right: 0;
	}
	li {
		&.mobile-share {
			display: inline-block;
		}
	}	
}

.social {
	float: right;
	top: 0px;
	position: absolute;	
	right: -188px;
    -webkit-transition-duration: 0.15s;
    -moz-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;	
	&.open {
		right: 0;
	}
	li {
		&.mobile-share {
			display: inline-block;
		}
	}
}

.ie9 {
	.social {
		li {
			a {
				
				span {

				}
			}
		}
	}
}

.intro {
	padding: 10px 0 30px 0;
	h1 {
		font-size: 3.6em;
	}
	p {
		font-size: 1.3em;
	}

}

.triangle {
	display: none;
}
.main {
	.button-container {
		width: 100%;
		position: fixed;
		padding: 10px 0px;
		left: 0;
		bottom: 0;
		z-index: 100;
		background: url(#{$image-url}greyzz.png);
		.moveforward {
			margin: 0 auto;
			width: 90%;
			a.btn {
				width: 100%;
				height: 50px;
				text-indent: 1px;
				font-weight: 300;
				text-decoration: none;				
			}
		}
	}

}

a.btn.see-all {
	margin-top: 0px;
}

.results {
	.button-container {
		.see-more {
			a.btn {
				width: 80%;
			}
		}
	}
}

.loves {
	margin-bottom: 5px;
	
	&[hover="hover"] {
		&:hover {

			
			.thumbnail {
				background: white;
				img {
					opacity: 1;
				}
				.caption {
					border: none!important;
					transform: scale(1, 1);
					h3 {
						transform: scale(1,1);
						padding: 0 !important;
					}

				}
				.tick {
					margin-top: -60px;
				}
				&.twoline {
					h3 {
						top: 12px;
					}
				}	
				&.oneline {
					h3 {
						font-size: 1.6em;
					}
				}

				&.twoline {
					h3 {
						font-size: 1.6em;
						padding: 0;
					}
				}

			}

		}
	}
	&:hover {
	.thumbnail {
		height: 79px;
		background: white;
		.tick {
			background: url(#{$image-url}tick-mobile.png);
			background-size: 100% auto;
			background-position: 0px 42px;
			margin-top: -60px;
			right: 10px;
			left: inherit;
		}
		&.oneline {
			h3 {
				top: 25px;
			}
		}
		&.twoline {
			h3 {
				top: 12px;
			}
		}		
		&.oneline {
			h3 {
				font-size: 1.6em;
			}
		}

		&.twoline {
			h3 {
				font-size: 1.6em;
				padding: 0;
			}
		}

		img {
			left: 0;
			max-width: 160px;
			width: 100%;
			border-right: 3px solid #6e6e6f;
			opacity: 1;
			filter: alpha(opacity=100);
		}

		.caption {
			height: 79px;
			border: none;
			width: 35%;
			margin: 0;
			color: $grey;
			text-align: left;
			transform: scale(1,1);
			margin-left: 170px;

			h3 {
				transform: scale(1,1);

			}

		}
	}
	}
	&.active {

		&:hover {
			.thumbnail {
				background: rgba(123,123,123,0.5);
			}
			
		}
		.thumbnail {
			background: rgba(123,123,123,0.5);
			img {
				opacity: 1;
			}
			.tick {
				margin-top: -60px;
				background-position: 0px 0px;
			}			
			&.oneline {
				h3 {
					top: 25px;
				}
			}
			&.twoline {
				h3 {
					top: 12px;
				}
			}
	
			.caption {
				transform: scale(1,1);
				border: none;		
				h3 {
					transform: scale(1,1);
				}
			}
		}
	}
	.thumbnail {
		height: 79px;
		background: white;
		.tick {
			background: url(#{$image-url}tick-mobile.png);
			background-size: 100% auto;
			background-position: 0px 42px;
			margin-top: -60px;
			right: 10px;
			left: inherit;
		}
		&.oneline {
			h3 {
				font-size: 1.6em;
			}
		}

		&.twoline {
			h3 {
				font-size: 1.6em;
				padding: 0;
			}
		}

		img {
			left: 0;
			max-width: 160px;
			width: 100%;
			border-right: 3px solid #6e6e6f;
			opacity: 1;
			filter: alpha(opacity=100);
		}

		.caption {
			height: 79px;
			border: none;
			width: 35%;
			margin: 0;
			color: $grey;
			text-align: left;
			transform: scale(1,1);
			margin-left: 170px;
			background: none;		
		}
	}
}

// results mobile



.results {
	padding-top: 0;
	//height: 6666px;
	

	// .tester {
	// 	display: block;
	// 	height: 100px;
	// 	width: 100px;
	// 	background: green;
	// 	margin: 0 auto;
	// }

	h1 {
		font-size: 2.8em;
		.you {
			display: inline;
			background: none;
			text-indent: none;
			width: auto;
			height: auto;
			margin-left: auto;
			margin-right: 7px;
		}
	}
	h3 {
		margin: 0 auto 0 auto;
		font-size: 2em;
		&.titles {
			margin: 0 auto 0 auto;
		}

	}
	h2 {
		font-size: 2.8em;

	}

	.vidcontainer {
		//height: 200px;
		padding: 5px;
		.content-container {
			height: 191px;
		}
		iframe {
			//height: 191px;
		}
		.playbtn {
			height: 80px;
			width: 80px;
			margin: -40px 0 0 -40px;
		}
		.imgPlaceholder {
			//height: 191px;
		}
	}
	.postcard-gallery {

		.copy {
			//margin-left: 0px;
		}

		.main {
			height: auto;
		}
		.subone, .subtwo {
			display: none;
		}
	}
}

.slider {
	.flex-control-nav {
		bottom: 24px;
	}
	ol.flex-control-nav {
		display: block;
		li {
			margin: 0px 3px;
			
		}
	}
	.flex-control-paging li a {
		background: #cccccc;
		background: rgba(255,255,255,0.5);
		&.flex-active {
			background: #ffffff;
			background: rgba(255,255,255,0.9);
		}
	}
}
.carousel {
	display: none;
}
.filter-container {
	padding: 0;
	.title {
		h3 {
			text-align: center;
		}
	}
}
.filter {
	text-align: right;
	padding: 0;
	max-width: 240px;
	margin: 0 auto 60px auto;
}
ul li.job-container {
	height: auto;
	padding: 0;
	width: 100%;
	display: block;
	.job .desc-indepth {
		position: relative;
		height: auto;
		a.button {
			span {
				font-size: 14px;
			}
		}
	}
}
.job-container {
	padding: 0px;
	margin-bottom: 15px;
	list-style: none;

	.job.card {
		overflow: hidden;
		max-width: 400px;
		display: block;
		margin: 0 auto;
		.border {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 10px;
		}

	}

	&.active {
		.front {
			.arrow {
				@include vendor(transform, rotate(-90deg));
			}
		}
	}

	.front {
		overflow: hidden;
		.arrow {
		    font-family: 'DefenceJobsIcons';
		    speak: none;
		    font-style: normal;
		    font-weight: normal;
		    font-variant: normal;
		    text-transform: none;
		    line-height: 1;
		    -webkit-font-smoothing: antialiased;
		    display: inline-block;
		    cursor: pointer;
		    width: 38px;
		    height: 38px;
		    font-size: 18px;
		    line-height: 38px;
		    color: #000;
		    text-align: center;
		    -webkit-transition-duration: 0.15s;
		    -moz-transition-duration: 0.15s;
		    -o-transition-duration: 0.15s;
		    transition-duration: 0.15s;
		    position: absolute;
		    right: 0px;
		    top: 50%;
		    margin-top: -19px;
			@include vendor(transform, rotate(90deg));
            &:before {
			    content: "\3e";
		    }
		}

		img {
			width: 50%;
			float: left;
		}

		hr, .rollover {
			display: none;
		}

		.desc {
			position: absolute;
			right: 0;
			top: 0;
			width: 50%;
			padding: 10px;

			.inner {
				min-height: 0;
				padding-right: 25px;
			}

			h3 {
				margin: 0;
				font-size: 14px;
				margin-left: 0;
				padding-left: 0;
			}

			h2 {				
  				font-size: 13px;
  				font-weight: normal;
  				line-height: 0.95em;				
			}
		}

	}

	.back.desc-indepth {
		opacity: 1;
		filter: alpha(opacity=100);
		display: none;
		border-top: 1px solid #cfcece;
		.bottom-container {
			position: relative;
			width: auto;
			bottom: inherit;
		}
		.archetype-sub {
			ul {
				li {
					position: relative;
					margin: 10px 0;
					padding: 0 10px 0 40px;
					height: 40px;							
				}
			}
		}
		img.close-card {
			top: 5px;
			right: 5px;
			display: block;
		}

		img.pin {
			display: none;
		}

		.border {
			display: none;
		}

		h2, h3 {
			display: none;

			& + hr {
			display: none;

			}
		}

		p.ng-binding {
			padding-right: 35px;
			font-size: 16px;
		}


	}

	&.active {

		.job.card {
	  		
			.back.desc-indepth {
				display: block;

				.top-container {
					height: auto;
					overflow: hidden;
				}
			}

		}

	}

}
}

@media (min-width: 2560px) {
	.jumbotron {
		h1 {
			font-size: 173px;
			margin-top: 450px;
			.you {
				width: 492px;
			}
		}
		p.lead {
			max-width: 760px;
			font-size: 30px;

		}
	}
}

@media (min-width: 767px) {
	

	.job-container.active {

		.job.card {
	  		
			.back.desc-indepth {
				opacity: 1;
				filter: alpha(opacity=100);
			}

		}

	}

	/*
	* Job card hover/active css3 transform transitions
	*/

	.csstransforms3d.no-touch {

		.job-container {
			position: relative;
			@include vendor(perspective,1500);
			list-style: none;
		}

		.job-container:hover, .job-container.active {

			.job.card {
		  		@include vendor(transform, translateX(100%) rotateY( 180deg ));
			
				.back {
					-ms-backface-visibility: visible;
					//-ms-transform: rotateY(0deg);
				}
			}

		}

		.job.card {
			@include vendor(transition, all .5s ease);
			@include vendor(transform-origin,  0% 50%);
			@include vendor(transform-style, preserve-3d);

		  	.front, .back {
			    @include vendor(backface-visibility, hidden);
				@include vendor(transform-style, preserve-3d);
		  	}
		  
			.back {
			    @include vendor(transform, rotateY( 180deg ));
			    opacity: 1 !important;
				filter: alpha(opacity=100);
			}
		  
		}

	}

}

@media (max-width : 767px) and (orientation : portrait) {
	.herobg {
		//background-size: 1300px auto;
		//background-position: top center;

	}
}

/* Smartphones small (landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { /* STYLES GO HERE */
	.herobg {
		//background-size: 1300px auto !important;
		//background-position: top center !important;
		.jumbotron {
			//height: 640px;
		}
	}
}


/* Smartphones small (portrait) ----------- */
@media (max-width : 320px) {
	.herobg {
		//background-size: 1300px auto;
		//background-position: top center;
		//background-image: url(#{$image-url}header-hero-mobile.jpg) center center no-repeat !important;
		
		background: url(#{$image-url}header-hero-mobile.jpg) no-repeat center center ;

		background-size: auto 100% !important;
	
		.jumbotron {
			height: 640px;
		}
	}	
	.container.main {
		padding-bottom: 100px;
	}
	.loves, .loves:hover {
		.thumbnail {
			img {
				max-width: 120px;
			}
			.caption {
				width: 42%;
				margin-left: 130px;
			}
		}
	}
}


// ie8 fixes

.ie8 {
	
	
	.container {
		width: 1170px!important;
	}
	.col-md-3 {
		width: 25%;
		float: left;
	}	

	.col-md-4 {
		width: 33%;
		float: left;
	}

	.results .postcard-gallery .subone img {
		display: none;
	}
	.results .postcard-gallery .subtwo img {
		display: none;
	}

	.herobg {
			background: url(#{$image-url}hero-bg-ie8.jpg) repeat center center ;

	}

	.jumbotron {
			height: 1080px;
		
		h1 {
			font-size: 120px;
			.you {

				background: url(#{$image-url}you-ie8.png) no-repeat;
					
			}
		}
	}

	.triangle {
		background: none;

		height: 46px;
		margin-bottom: -42px;	
	}

	.loves {
		.thumbnail {
			.caption {
				overflow: visible;
			}
			.tick {
				background: url(#{$image-url}tick-ie8.png);
			}
		}
	}

	.job .desc-indepth {
		z-index: 0;
		a.apply.button .triangle {
			background: none;
		}
	}

	.results {
		h1 {
			.you {
				background: url(#{$image-url}you-dark-ie8.png) no-repeat;
			}
		}
		a.next-arrow {
				background: url(#{$image-url}hr-arrow-ie8.jpg) no-repeat;
		}

	}
	a.back-top .top-arrow {
				background: url(#{$image-url}back-top-ie8.png) no-repeat;
	}
}

.component-embed-video {
	display: block;
	position: relative;
	padding-top: 56.5%;

	.imgPlaceholder, iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

}

a.videoBtn {
	width: 100%;
	height: 100%;
	//outline: 1px solid red;
	position: absolute;
	display: block;
	top: 0;
	z-index: 999;
}

.touch {
	a.videoBtn {
		display: none;
	}

	.jumbotron {
		background: none
	}

	.herobg {
		.video-container {
			display: none;
		}
	}

	.save-job {
		display: none !important;
	}
}



