<div class="herobg" herobg>

    <!--header video-->
    <div class="video-container">
        <video class="hero_video" preload="auto" autoplay loop>
            <source src="assets/images/women-adf-loop.webm" type='video/webm' />
            <source src="assets/images/women-adf-loop.mp4" type='video/mp4' />
        </video>
    </div>

    <div class="jumbotron text-center">

        <div class="container">

            <ul class="social" data-text="Do What You Love - Jobs for Women in the Australian Defence Force" social>
                <li class="mobile-share"><a href="" ng-click="social()"><span class="icon-link"></span></a></li>

                <li class="fb">
                    <a class="facebook" href="" data-tracking="true"  data-trcategory="{{trackingCategory}}" data-traction="Facebook" data-trlabel="Share Button Tracking"><span class="icon-facebook"></span></a>
                </li>

                <li class="tw">
                    <a class="twitter" href="" data-tracking="true"  data-trcategory="{{trackingCategory}}" data-traction="Twitter" data-trlabel="Share Button Tracking"><span class="icon-twitter"></span></a>
                </li>

                <li class="in">
                    <a class="linkedin" href="" data-tracking="true"  data-trcategory="{{trackingCategory}}" data-traction="G+" data-trlabel="Share Button Tracking"><span class="icon-linked-in"></span></a>
                </li>

                <li class="gp">
                    <a class="googleplus" href="" data-tracking="true"  data-trcategory="{{trackingCategory}}" data-traction="Linkedin" data-trlabel="Share Button Tracking"><span class="icon-google-plus"></span></a>
                </li>

            </ul>

        </div>

        <div class="center-content">

            <div class="inner">

                <h1 class="hide">
                    <!--DO WHAT <div class="you checked">YOU</div> LOVE-->
                    <img class="dwyl-logo desktop" src="assets/images/DWYL-Lockup.png"/>
                    <img class="dwyl-logo mobile" src="assets/images/DWYL-Lockup-Stacked.png"/>
                </h1>

                <p class="lead hide">
                    Tell us what you’d love to do with your life and we’ll show you how you can do it in the Navy, Army and Air Force
                </p>

                <p>
                    <a class="btn btn-lg herobtn hide" smooth-scroll-jquery target="start" offset="0" data-tracking="true" data-trcategory="{{trackingCategory}}" data-traction="Start_DWYL" data-trlabel="Start_DWYL">Get Started <span class="arrow-down"></span></a>
                </p>

            </div>

        </div>

    </div>

</div>  
